.content-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0.5em 0;
    h1{
        font-size: 24px;
    }
    .banner{
        background-color: #FE5555;
        img{
            width: 100%;
        }
    }
    @media(min-width: 768px){
        width: 90%;
        .banner{
            height: 100px;
            width: 60%;
        }
        h1{
            margin-bottom: 1em;
        }
    }
    @media(min-width: 992px){
        width: 90%;
        .banner{
            height: 100px;
            width: 60%;
        }
        h1{
            margin-bottom: 1em;
        }
    }
    @media(min-width: 1200px){
        width: 96%;
        .banner{
            height: 100px;
            width: 60%;
        }
        h1{
            margin-bottom: 1em;
        }
    }
}
