.menu-bottom{
    background-color: #292121;
    &_list{
        display: flex;
        list-style: none;
        li{
            padding: 15px 57px;
            &:first-child{
                background-color: #FE5555;
            }
            a{
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}