<div class="topmenu">
    <nav class="topmenu_container">
        <ul class="topmenu_list">
            <li><a href="#">Sobre-nós</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Conheça nossa lojinoha</a></li>
        </ul>
        <ul class="topmenu_actions">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </nav>
</div>
